/* global */

body {color:#333;background:#e2e2e2;font-size:1.4em;}
a {color:#06b;}
a:focus {outline:thin dotted;}
a:hover {text-decoration:none;color:#ff7700;}
img {max-width:100%;}
table {border:none;}
tr {background:none;}
th, td {color:#fff;border:none;}
ul {list-style-type:square;}
ul, ol {margin-left:1em;padding-left:0;list-style-position:inside;}

/* form */
form {padding:0;}
label {display:block;margin-top:1em;}
textarea {width:100%;height:100px;padding:.5em 1em;}
input[type=text], select {min-width:50%;padding:.5em 1em;}
input.large {width:100%;}
input.check input.radio {width:4em !important;vertical-align:baseline;}
 
.radiobox {min-width:20%;display:inline-block;padding:0 10px;}
.radiobox label {font-weight:normal;margin:0;}
.radiobox input {display:inline-block;margin:0;}
.radiobox input.radio.inline + label {display:inline-block;}

select.multiple_select {vertical-align:top;padding:.2em .5em;border:1px solid #ccc;border-radius:4px;}
button, a.button {background:#B0BEC5;color:#fff;border:none;padding:.5em 1em;border-radius:0;cursor:pointer;}
.buttons {margin-top:1.5em;text-align:center}

/* classes */
.band {margin:0;}
.row {margin:0 1em;}
.error {color:#f80;}
.clear {clear:both;}
.fleft {float:left;}
.fright {float:right;}
.overflow {overflow:hidden;}
.dinline {display:inline;}
.dblock {display:block;}
.hidden {display:none;}

.no-pad {padding:0;}
.padded {padding:1em;}
.pad-top {padding-top:1em;}
.pad-left {padding-left:1em;}
.pad-right {padding-right:1em;}
.pad-bottom {padding-bottom:1em;}
.double-pad-top {padding-top:2em;}

.no-gap {margin:0;}
.gapped {margin:1em;}
.gap-top {margin-top:1em;}
.gap-left {margin-left:1em;}
.gap-right {margin-right:1em;}
.gap-bottom {margin-bottom:1em;}
.double-gap-top {margin-top:2em;}

.small {font-size:.85em;}
.suggestion {font-size:0.85em;margin-left:.5em;}
.border-top {border-top:1px solid #ccc;}
.text-center {text-align:center;}
.text-right {text-align:right;}
.pointer {cursor:pointer;}

/* colors */
.bwhite {background:#fff;}
.bpurple {background:#a609b9;}
.bgreen {background:#b0bc22;}
.bblue {background:#06b;}
.borange {background:#fe8702;}
.blightblue {background:#0dcdfe;}
.bred {background:#e00;}

/* containers */

#main {padding:2em 0;}
#logo {width:200px;margin:1em auto 0 auto;}
#navbar {margin:0;background:#e2e2e2;}
#menu_top {overflow:hidden;}
#menu_top ul {margin:0;padding:0;}

#menu_top ul li a {color:#333;}
#menu_top ul li.active a {background:#fe8702;color:#fff}
#menu_top ul li:hover:not(.active) {background:#323232;}
#menu_top ul li:hover:not(.active) a {color:#fff;}

#topic {margin:0;padding:0 1em;clear:both;}

#menu_left {margin:2em 0;}
#menu_left ul {margin:0;padding:0;list-style:none;}
#menu_left ul li {border-bottom:1px solid #ccc;}
#menu_left ul li a {display:block;padding:.5em 1em;}
#menu_left ul li.active {border-bottom:none;}
#menu_left ul li.active a {background:#fe8702;color:#fff;}
#menu_left ul li:hover:not(.active) {background:#323232;}
#menu_left ul li:hover:not(.active) a {color:#fff;}

#x3row {margin:2em 1em;border-top:.3em solid #e2e2e2;}
#x3row .row div:first-child {margin-left:0;padding-left:0;}
#x3row .row div:last-child {margin-right:0;padding-right:0;}

#msg {background:#f80;color:#fff;padding:1em;margin:1em 0;}
#msg.warning {background:#f90;}
#msg.success {background:#00a0d1;}

#mid {background:#eee;}

#footer {clear:both;margin-top:2em;color:#999;}
#footer a {color:#333;}
#footer a:hover {color:#ee6600;}

/* plugins */

#sitemap ul {margin-top:.2em;}
#sitemap ul li {padding:.3em;}

#x3flags {margin-top:-2em;}
#x3flags ul {float:right;list-style:none;}
#x3flags ul li {float:right;}
#x3flags ul li a {display:block;padding:.5em 1em;font-size:.85em;}
#x3flags ul li a.on {border-bottom:1px solid #ccc;}

#x3search {margin-top:2em;}
#x3search input {padding:.5em 1em;border:1px solid #ccc;}
#x3search button {margin:0;border:1px solid #ccc;border-radius:0;background:#ccc;} 


/* bootstrap */
nav.navbar {border-radius:0;border:none;padding:0;border-radius:3px;}
.navbar-collapse {padding:0;}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color:#d97302;
}
.table-striped.table-hover tr td {border:none;}
.table-striped.table-hover tr:hover td {background-color:#000;}
.table-striped.table-hover tr.red td {background:#e00;}

input[type=file] {padding:.5em;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, 
input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, 
input[type="color"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus, select:focus, .uneditable-input:focus {   
	box-shadow: none;
    -webkit-box-shadow: none;
}

.popover-content {overflow:auto;font-size:0.9em;}

/* checkboxes */
.checkbox {position:relative;}
.checkbox label {padding-left:32em;}
.checkbox input.check.inline {position:absolute;left:2em;}

/* jquery-ui */

.ui-widget {
	font-family: sans-serif;
    font-size:90%;
}

@media(max-width: 1024px) {
	.row div {margin-left:0;margin-right:0;padding-left:.3em;padding-right:.3em;}
	#x3row .row div {border-bottom:1px solid #ccc;}
}
@media(max-width: 768px) {
	#main {padding:1em .5em;font-size:1em;}
	#logo {width:150px;}
	#x3flags {margin-top:-1em;}
	.xs-nopad {padding-left:0;padding-right:0;}
	.row div {margin-left:0;margin-right:0;padding-left:0;padding-right:0;}
	.hidden-sm {display:none;}
}
@media(max-width: 480px) {
	h1 {line-height:.9em;}
	#main {padding:.5em 0;font-size:.9em;}
	#logo {width:100px;}
	#x3flags {margin-top:-.5em;}
}
@media(max-width: 320px) {
	/* Style adjustments for viewports 768px and over go here */
	#main {margin:0 -0.5em;font-size:.85em;}
	.xs-nopad {padding-left:0;padding-right:0;}
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
  input[type=file] {padding:0;}
}

