[x-cloak] { display: none; }

/* SET GLOBAL  VARS */
:root {
	--main-darkcolor:#374151;
    --main-lightcolor:#d1d5db;
	--link-color:#09c;
    --on-color:#f59e0b;
    --off-color:#9ca3af;
    --warn-color:#dc2626;
    --ok-color:#65a30d;
    --failed-color:#f97316;
}

/* latin-ext */
@font-face {
  font-family: 'titillium';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(./fonts/7XUFZ5tgS-tD6QamInJTcSo_WB_cotcEMUw1LsIE8mM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'titillium';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(./fonts/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'titillium';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(./fonts/anMUvcNT0H1YN4FII8wpr-y7CP8YvcHYdGV61pt7QTE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'titillium';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(./fonts/anMUvcNT0H1YN4FII8wprxP6Eu1_xfSBSoi9uie1FdE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'titillium';
  font-style: normal;
  font-weight: 900;
  src: local('Titillium WebBlack'), local('TitilliumWeb-Black'), url(./fonts/anMUvcNT0H1YN4FII8wpr4raJW_TPRbuWfMPkVNer-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'titillium';
  font-style: normal;
  font-weight: 900;
  src: local('Titillium WebBlack'), local('TitilliumWeb-Black'), url(./fonts/anMUvcNT0H1YN4FII8wpr6C95lFCEhr9IpXC9cjRuaU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* BASE */

html {font-size:.9em;font-family:titillium,helvetica,arial,sans-serif;color:var(--main-darkcolor);}
body { margin:0;line-height:1.4;min-width:320px;background-color:var(--main-darkcolor);}

::-moz-selection {background:#fe57a1;color:#fff;text-shadow: none; }
::selection {background:#fe57a1;color:#fff;text-shadow:none; }

/* COLORS */
.on {color:var(--on-color) !important}
.off {color:var(--off-color) !important}
.warn {color:var(--warn-color) !important}
.softwarn {background-color:#ff0 !important;color:var(--main-darkcolor);}
.bg {background-color:var(--main-darkcolor) !important;color:#f3f4f6}
.bg2 {background-color:var(--main-lightcolor) !important;color:var(--main-darkcolor)}
.light {background-color:#e5e7eb;}
.ok {background-color:var(--ok-color) !important;color:#fff}
.failed {background-color:var(--failed-color) !important;color:#fff}

/* LINK */
a {text-decoration:none;cursor:pointer !important;}
#page a:not(.btn), #modal a, a.link:not(.btn) {color:var(--link-color) !important}
#page a.dark:not(.btn) {color:var(--main-darkcolor) !important}
a.white {color:white !important}

#sidebar a:hover{font-weight:bold;}

/* SORTABLE */
#sortable div.sort-item {cursor:move !important}

/* fix vertical align*/
.va0 {vertical-align:middle !important}
/* height zero */
.max-h-0 {max-height: 0;}

/* FORMS */

label {cursor:pointer;display:block;font-size:0.9em;line-height:1em;margin:1em 0 .3em 0;}
label span {font-weight:normal;color:#666;}

input, select, textarea {font-size:100%;margin:0;vertical-align:baseline;vertical-align:middle;border:1px solid var(--main-lightcolor);padding:.5em .5em !important;margin:0;border-radius: 0.125rem;;color:var(--main-darkcolor) !important;--moz-border-sizing:border-box;box-sizing:border-box;}
select {padding:.5em .6em !important;}
select:not([multiple]) {max-height: calc(1.2em + 20) !important;height: calc(1.2em + 20px) !important;}

input:focus, textarea:focus, select:focus {border:.1em solid var(--link-color) !important;}

textarea {width:100%;overflow:auto;display:inline-block;vertical-align:top;resize:vertical;height:6em;margin-bottom:.2em}

input[disabled], textarea[disabled], select[disabled] {background:#ddd;}
input[readonly], select[readonly], textarea[readonly] {background:none;}
input[type="checkbox"], input[type="radio"] {box-sizing:border-box;padding: 0;width:1.5em;height:1.5em;padding:.75em;border:none;width:1.5em;height:1.5em;margin:.2em .5em .5em 0;}
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

input[type=range] {
	width: 100%;
	margin: 3px 0;
	background-color: transparent;
	-webkit-appearance: none;
	border:none !important;
  }
input[type=range]:focus {
	outline: none;
  }
input[type=range]::-webkit-slider-runnable-track {
	background: #cccccc;
	border: none;
	border: 0;
	border-radius: 1.3px;
	width: 100%;
	height: 18px;
	cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
	margin-top: -3px;
	width: 24px;
	height: 24px;
	background: #0099cc;
	border: none;
	border-radius: 1px;
	cursor: pointer;
	-webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #d9d9d9;
  }
  input[type=range]::-moz-range-track {
	background: #cccccc;
	border: none;
	border: 0;
	border-radius: 1.3px;
	width: 100%;
	height: 18px;
	cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
	width: 24px;
	height: 24px;
	background: #0099cc;
	border: none;
	border-radius: 1px;
	cursor: pointer;
  }

.suggestion {display:block;font-size: 0.75rem;line-height: 1rem;margin-top:.3em}

/* BUTTONS */
.buttons {text-align:center;padding:1em;margin-top:1em;margin-bottom: 1.5rem;}
.buttons button, button.btn, a.btn {border-radius: 0.125rem;--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);font-size: 0.875rem;
    line-height: 1.25rem;padding-left: 1.5rem;padding-right: 1.5rem;padding-top: 0.75rem;padding-bottom: 0.7rem;margin-left: 0.5rem;
}
.buttons button[type="submit"], .buttons button[type="button"], button.btn.link, a.btn.link {background-color:var(--link-color) !important;color:#fff !important}
.buttons button[type="reset"], button.btn.gray, a.btn.gray {background-color:#d1d5db;color:#374151}
button[disabled], input[disabled] { cursor: default;opacity:.5; }

/* TABS */
.tabs {margin-top:1em;background:#f3f4f6;padding: 0.5rem 0.5rem 0 0.5rem;border-bottom:1px solid var(--link-color);border-top-left-radius: 0.3rem;border-top-right-radius: 0.3rem;}
button.tab {border-top-left-radius: 0.125rem;border-top-right-radius: 0.125rem;line-height: 1.25rem;padding-left: 1.5rem;padding-right: 1.5rem;padding-top: 0.75rem;padding-bottom: 0.7rem;background-color:#d1d5db;color:#374151;}
button.tab.link {background-color:var(--link-color) !important;color:#fff !important}

/* SCROLLBAR */
* {scrollbar-width: thin;scrollbar-color: #9ca3af white;}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {width: 6px;}
*::-webkit-scrollbar-track {background: white;}
*::-webkit-scrollbar-thumb {background-color: #9ca3af;border-radius: 20px;border: 3px solid #9ca3af;}

/* TYPOGRAPHY */

h1 {font-family:"Open Sans",Sans-serif;font-size:2.3em !important;font-weight:700 !important;line-height:44px;}
h2 {font-size:2.15em !important;line-height:1.3em;font-weight:400 !important;margin:.3em 0;}
h1 + h2 {font-size:2em !important;line-height:1.3em;font-weight:300 !important;margin:.3em 0;font-style:italic;}

h2 + * {margin-top:1.5em;}
h3 + * {margin-top:.5em;}
p, p + p {margin-top:1.5em;}

h3 {font-size:1.8em !important;line-height:1.6em;font-weight:700 !important;margin:1em 0 0;letter-spacing:.03em;}

h2 + h3 {font-weight:300 !important;}

h4 {font-size:1.4em !important;line-height:1.3em;}

ul {margin:.5em 0 !important;list-style:disc;list-style-position: inside !important;}
ol {margin:.5em 0 !important;list-style:decimal !important;list-style-position: inside !important;}
ol.none {list-style:none !important;}

img.thumb {max-width:150px}

/* TABLES */

table {border-collapse:collapse;border-spacing:0;width:100%;font-size:inherit;font-size:0.95em;margin:1em 0;}

tr {border-bottom:1px solid #d1d5db;}
tr.noborder {border:none;}

tr.first, thead tr:first-child {border-bottom:1px solid #9ca3af;}
tr:not(.no_hover):hover td {background:var(--main-darkcolor);color:#ccc;}
th {text-align:center;background:#d1d5db;line-height:2.2em;}
th:first-child {border-top-left-radius: 0.3rem;}
th:last-child {border-top-right-radius: 0.3rem;}
td {vertical-align:top;line-height:1.8em;padding:.2em 1em 0;}
td:not(:first-child) {border-left:1px solid #d1d5db;}

tr:nth-child(even) {background-color: #e5e7eb;}

div.sort_item table {margin:0}

/* CONTAINERS */

/* SPINNER */
#working {position:absolute;top:0;left:0;right:0;margin-left:auto;margin-right:auto;width:20px;z-index:100}

/* fix min-width */
#head, #main, #footer, #modal, .xmodal {min-width:320px}

/* fix topic height */
#topic {height: Calc( 100% - 45px )}
.switcher {margin-top:-1em;}
/* modal */
#modal > div {background:var(--main-darkcolor);color:var(--main-darkcolor);}
#modal div > p {margin-top:0 !important}

@media screen and (max-width: 768px) {
    html {font-size:.75em;}
    h1 {font-size:2em !important;}
    h2 {font-size:1.8em !important;}
    h1 + h2 {font-size:1.7em}
}
